

/* @font-face {
    font-family: "Rammetto One";
    src: url('myfont.woff2') format('woff2'),
         url('../fonts/') format('woff'),
         url('../fonts/RammettoOne-Regular.ttf') format('truetype');
  } */

  @font-face {
    font-family: "Rammetto One";
    src: url('../fonts/RammettoOne-Regular.ttf') format('truetype');    
}

@font-face {
    font-family: "Lato";
    src: url('../fonts/lato-regular-webfont.woff') format('woff'),
        url('../fonts/lato-regular-webfont.ttf') format('truetype');
}
  
 @font-face {
    font-family: "Roboto";
    src: url('../fonts/roboto-regular-webfont.woff') format('woff'),
        url('../fonts/roboto-regular-webfont.ttf') format('truetype');
}

@font-face {
    font-family: "Marga";
    src: url('../fonts/magra-bold-webfont.woff') format('woff'),
        url('../fonts/magra-bold-webfont.ttf') format('truetype');
}


a {
    text-decoration: none;
}

h1 {
    margin: 0 0;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
}

a.header_link.active_page {
    color:#cb3362;
}

/* header start_______________________________ */
.header_bg {
    background-color: #edeaeb;
}
.header_bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 1px 16px 10px -12px rgba(203, 51, 98, 0.3);
}

.header {
    box-sizing: border-box;
    position: relative;
    height: 120px;
    padding-left: 110px;
    padding-right: 110px;
    margin: 0 auto;
    
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_logo {
    display: inline-flex;
    align-items: center;
    width: 138px;
    position: relative; 
}

.header_logo > span {
    font-family: "Rammetto One";
    color: #cb3362;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.16px;
}

.header_logo span > span {
    color: #c8c10d;
    font-style: normal;
    letter-spacing: -0.16px;
    line-height: normal;
    /* position: relative; */ 
}

.header_logo > span::after {
    content: "";
    position: absolute;
    top: 35px;
    right: 17px;
    
    width: 21px;
    height: 14px;
    
    background-image: url("../img/logo_name.png");
    background-repeat: no-repeat;
}

.header_menu {
    max-height: 120px;
    margin: auto 0 auto auto;
}

.header_list {
    display: flex;
    justify-content: flex-end;
}

.header_list  > li {
    padding-left: 37px;
    padding-right: 37px; 
}

.header_list li:last-child {
    padding-right: 0;
}

.header_list a {
    display: block;
    box-sizing: border-box;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
    color: #7a6666;
    font-family: "Lato";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    
    transition: 1s scale, color;
}

.header_list a:active,
.header_list a:focus {
    color: #cb3362;
    scale: 1.1;
}

.header_list a:hover {
    color: #c8c10d;
    scale: 1.1;
}

nav > ul {
    position: relative;
}

 nav > ul  ul { 
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: .5s ease-in;
    display: none;
    top: 35px; 
}

.header_list > li:hover  ul {
    visibility: visible;
    opacity: 1;
    display: block;
}

/* .header_menu {
    overflow: hidden;
    width: 100%;
} */

.header_menu input[name="hamburger-toggle"] {
    display: none;
}

.header_menu .hamburger-lines {
    display: none;
}

@media (max-width: 1139px) {

    body, html {
        width: 100%; 
        overflow-x: hidden;
    }

    .stopScroll {
        overflow: hidden;
    }

    .header {
        height: auto;
        padding: 15px 30px;
        position: relative;
    }

    .header_logo > span::after {
        top: 0;
    }
    
    .header_menu .header_list {
        flex-direction: column;
        align-items: center;
        background-color: rgba(255,255,255, 0.3) ;
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
        padding: 50px 20px 20px 20px;
        transform: translateX(120%);
        /* visibility: hidden; */
        position: absolute;
        right: 0;
        left: 0;
        top: 80px;
        z-index: 1;
        transition: transform 0.5s ease-in-out;
        box-shadow: -5px 0px 10px 0px rgba(203, 51, 98, 0.3);
        height: 100vh;
        justify-content: flex-start;
        box-sizing: border-box;
        
    }
    
    .header_menu .header_list a {
        text-align: center;
    }

    .header_menu .hamburger-lines {

        display: block;
        height: 23px;
        width: 35px;
        position: absolute;
        top: 17px;
        right: 30px;
        top: 30px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .header_menu .hamburger-lines .line {
        display: block;
        /* margin-bottom: 5px; */
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #cb3362;
    }
    
    .header_menu .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }
    
    .header_menu .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }
    
    .header_menu .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .header_menu input[type="checkbox"]:checked ~ .header_list {
        transform: translateX(0);
        /* visibility: visible; */
    }
    
    .header_menu input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(35deg);
    }
    
    .header_menu input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }
    
    .header_menu input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-35deg);
    }

    nav > ul {
        position: static;
    }
    
    nav ul ul {
        position: static;
        visibility: visible;
        opacity: 1;
        display: block;
        top: 35px; 
    }

    .header_list a.header_link {       
        font-size: 24px;
    }

    nav > ul > li {
        padding-top: 15px;
    }

    .header_list > li:last-child {
        padding-right: 37px;
    }

    

} 
/* header end________________________________ */

/* main start________________________________ */
.page_header_bg {
    background-color: #c8c10d;
    height: 81px;
    margin-top: 120px;
    /* box-sizing: border-box; */
}

.page_header {
    font-family: "Lato";
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    line-height: 81px;
}
@media (max-width: 1139px) {
    .page_header_bg {
        margin-top: 81.2px;
        height: 48px;
    }

    .page_header {
        font-size: 24px;
        line-height: 48px;
    }
}
/* ______________________________________________________________________ */

.image_bg {
    background-color:   #ebebed; ;
}

.image {
    height: 250px;
    /* overflow: hidden; */
    background-image: url(../img/about.1.png);
    background-position: center -89px;
    background-repeat: no-repeat;
}

@media (max-width: 1139px) {
    .image {
        height: 94px;
        background-position: center -33px;
        background-size: cover;
    }
}
/* ______________________________________________________________________ */


.text_bg {
    background-color: #fff;
}

.main_container {
    padding: 41px 132px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 41px 132px; */
}

.main_container h2 {
    text-transform: uppercase;
}

.main_container a {
    color:#c8c10d;
    text-decoration: underline;
}

.main_container a:hover {
    color:  #cb3362;
    text-decoration: underline;
}

.sidebar {
    width: 280px;
    height: 600px;
    box-sizing: border-box;
    background-color:#efedee;
    padding: 38px 41px 34px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar h2 {
    font-family: "Lato";
    font-size: 24px;
    font-weight: 400;
    color:  #cb3362;
    line-height: 48px;
    text-align: center;
}

.sidebar p {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    color:  #7a6666;
    line-height: 48px;
    text-align: center; 
}

.main_text {
    width: 555px;
    height: 668px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_text h2 {
    font-family: "Lato";
    font-size: 24px;
    font-weight: 400;
    color: #cb3362;
    text-transform: uppercase;
    text-align: left;
}

.main_text p {
    font-family: "Roboto";
    font-size: 14px;
    line-height: 24px;
    color: #7a6666;
}

@media (max-width: 1139px) {
    .main_container {
        padding: 30px 30px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 20px;
    }
        
    .sidebar {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        background-color:#efedee;
        padding: 20px 20px 20px;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        order: 2;
    }
    
    .sidebar h2 {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
    }
    
    .sidebar p {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: center; 
    }
    
    .main_text {
        width: 100%;
        height: -webkit-fill-available;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        row-gap: 15px;
        order: 1;
    }
    
    .main_text h2 {
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
    }
    
    .main_text p {
        font-size: 14px;
        line-height: 24px;
        text-align: justify;
    }
}
/* main end____________________________________ */

/* footer start________________________________ */
.footer_bg {
    background-color: #cb3362 ;
}

.footer {
    margin: 0 auto;
    height: 200px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    box-sizing: border-box;
    padding-top: 59px;
    padding-bottom: 59px;
}

.contact_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-top: 59px;
    margin-bottom: 35px; */
    margin: 0 auto;
    width: 210px;
}

.contact_link {
    text-decoration: none;
    padding: 0;
}

.copyright {
color: #ffffff;
font-family: "Roboto";
font-size: 12px;
line-height: 15px;
text-align: center;
margin-top: 30px;
}

.footer img {
    width: 30px;
    height: 30px;
}

@media (max-width: 1140px) {
    .footer {
        /* margin: 0 auto; */
        height: auto;
        box-sizing: border-box;
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .copyright {
        margin-top: 15px;
    }   
}
/* footer end ____________________________________*/
