/* @font-face {
    font-family: "Rammetto One";
    src: url('myfont.woff2') format('woff2'),
         url('../fonts/') format('woff'),
         url('../fonts/RammettoOne-Regular.ttf') format('truetype');
  } */

  @font-face {
    font-family: "Rammetto One";
    src: url('../fonts/RammettoOne-Regular.ttf') format('truetype');    
}

@font-face {
    font-family: "Lato";
    src: url('../fonts/lato-regular-webfont.woff') format('woff'),
        url('../fonts/lato-regular-webfont.ttf') format('truetype');
}
  
 @font-face {
    font-family: "Roboto";
    src: url('../fonts/roboto-regular-webfont.woff') format('woff'),
        url('../fonts/roboto-regular-webfont.ttf') format('truetype');
}

@font-face {
    font-family: "Marga";
    src: url('../fonts/magra-bold-webfont.woff') format('woff'),
        url('../fonts/magra-bold-webfont.ttf') format('truetype');
}

/* @font-face {
    font-family: "Arial MT";
    src: url('../fonts/') format('woff'),
        url('../fonts/magra-bold-webfont.ttf') format('truetype');
} */






a {
    text-decoration: none;
}

h1 {
    margin: 0 0;
}

.header_link.active_page {
    color:#cb3362;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
}

/* header start_______________________________ */
.header_bg {
    background-color: #edeaeb;
}

.header {
    box-sizing: border-box;
    
    height: 120px;
    padding-left: 110px;
    padding-right: 110px;
    margin: 0 auto;
    
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_logo {
    display: inline-flex;
    align-items: center;
    width: 138px;
    position: relative; 
}

.header_logo > span {
    font-family: "Rammetto One";
    color: #cb3362;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.16px;
}

.header_logo span > span {
    color: #c8c10d;
    font-style: normal;
    letter-spacing: -0.16px;
    line-height: normal;
    /* position: relative; */ 
}

.header_logo > span::after {
    content: "";
    position: absolute;
    top: 35px;
    right: 17px;
    
    width: 21px;
    height: 14px;
    
    background-image: url("../img/logo_name.png");
    background-repeat: no-repeat;
}

.header_menu {
    max-height: 120px;
    margin: auto 0 auto auto;
}

.header_list {
    display: flex;
}

.header_list  > li {
    padding-left: 37px;
    padding-right: 37px; 
}

.header_list li:last-child {
    padding-right: 0;
}

.header_list a {
    display: block;
    box-sizing: border-box;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
    color: #7a6666;
    font-family: "Lato";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    
    transition: 1s scale, color;
}

.header_list a:active,
.header_list a:focus {
    color: #cb3362;
    scale: 1.1;
}

.header_list a:hover {
    color: #c8c10d;
    scale: 1.1;
}
nav > ul {
    position: relative;
}

 nav > ul  ul {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: .5s ease-in;
    display: none;
    top: 35px; 
 }

.header_list > li:hover  ul {
    visibility: visible;
    opacity: 1;
    display: block;
}
/* header end________________________________ */

/* main start_________________________________ */
.blog_bg {
    background-color: #c8c10d;
    height: 81px;
    /* box-sizing: border-box; */
}

.blog_h {
    font-family: "Lato";
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    line-height: 81px;
}

.container.page_container {
    height: 1000px;
    padding: 100px 110px;
    box-sizing: border-box; 
}

.articles_container {
    display: flex;
    flex-direction: row;
    width: 920px;
    /* width: 100%; */
    height: 680px;
    justify-content: space-between;
    /* margin: 100px 130px 34px 130px;  */
}

.sidebar {
    width: 280px;
    height: 680px;
    background-color: #efedee;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 44px;
    padding-bottom: 61px;
}

.sidebar > h2 {
    font-family: "Marga";
    font-size: 30px;
    font-weight: 700;
    color:#cb3362;
}

 .sidebar_img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-image: url(../img/sidebar_img.png);
    margin-top: 33px;
    margin-bottom: 37px;
 }

.sidebar_text {
    width: 192px;
    height: 164px;
    box-sizing: border-box;  
}

.sidebar_text h2, 
.article h2 { 
    font-family: "Lato";
    font-size: 24px;
    font-weight: 400;
    color:#cb3362;
    /* line-height: 48px; */
    text-transform: uppercase;
    text-align: center;
}

.sidebar_text p:nth-of-type(1),
.article p:nth-of-type(1) { 
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color:#7a6666;
    text-align: center;  
}

.sidebar_text p:nth-of-type(2),
.article p:nth-of-type(2) { 
    font-family: "Roboto";
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color:#7a6666;
    text-align: center;
    margin-top: 16px;
}

.articles {
    width: 551px;
    height: 667px;
}

.article {
    width: 551px;
    height: 320px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.article:nth-of-type(2){
    margin-top: 40px;
}

.article::after {
    content: "";
    display: block;
    width: 480px;
    border-bottom: 1px solid #efedee;
    position: absolute;
    bottom: 0;
    left: 35px;
}

.article_img {
    width: 180px;
    height: 180px;
    background-image: url(../img/article_1.png);
}

.article_link {
    font-family: "Lato";
    font-size: 16px;
    font-weight: 700;
    padding: 14px 31px 15px 30px;
    color:#ffffff;
    text-transform: uppercase;
    display: inline-block;
    background-color:#c8c10d;
    margin-top: 65px;
}

.article_link:hover {
    background-color:#cb3362;
}

.article_img.img_1 {
    background-image: url(../img/article_1.png);
}

.article_img.img_2 {
    background-image: url(../img/article_2.png);
}

.article_text {
    width: 332px;
    height: 272px;
}

.article p:nth-of-type(1) { 
    font-family: "Roboto";
    font-size: 14px;
}

.article h2,
.article p:nth-of-type(1),
.article p:nth-of-type(2) {
    text-align: left;
}

.article p:nth-of-type(2) {
    margin-top: 16px;
}
.article .article_link {
    margin-top: 43px;
}

.article_link.page_link {
    margin-top: 0;
    background-color: #cb3362;
    display: inline-block;
    margin-left: 220px;  
    margin-top: 65px;
}

.article_link.page_link:hover {
    background-color: #c8c10d;
}

/* main end_____________________________________*/

/* footer start________________________________ */

.footer_bg {
    background-color: #cb3362;
}

.footer {
    margin: 0 auto;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 59px;
    margin-bottom: 35px;
    width: 210px;
}

.contact_link {
    text-decoration: none;
    padding: 0;
}

.copyright {
color: #ffffff;
font-family: "Roboto";
font-size: 12px;
line-height: 15px;
text-align: center;
}

.footer img {
    width: 30px;
    height: 30px;
}
/* footer end ____________________________________*/










