
/* @font-face {
    font-family: "Rammetto One";
    src: url('myfont.woff2') format('woff2'),
         url('../fonts/') format('woff'),
         url('../fonts/RammettoOne-Regular.ttf') format('truetype');
  } */

  @font-face {
    font-family: "Rammetto One";
    src: url('../fonts/RammettoOne-Regular.ttf') format('truetype');    
}

@font-face {
    font-family: "Lato";
    src: url('../fonts/lato-regular-webfont.woff') format('woff'),
        url('../fonts/lato-regular-webfont.ttf') format('truetype');
}
  
 @font-face {
    font-family: "Roboto";
    src: url('../fonts/roboto-regular-webfont.woff') format('woff'),
        url('../fonts/roboto-regular-webfont.ttf') format('truetype');
}

@font-face {
    font-family: "Marga";
    src: url('../fonts/magra-bold-webfont.woff') format('woff'),
        url('../fonts/magra-bold-webfont.ttf') format('truetype');
}


a {
    text-decoration: none;
}

h1 {
    margin: 0 0;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
}

.header_link.active_page {
    color:#cb3362;
}

/* header start_______________________________ */
.header_bg {
    background-color: #edeaeb;
}

.header {
    box-sizing: border-box;
    
    height: 120px;
    padding-left: 110px;
    padding-right: 110px;
    margin: 0 auto;
    
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_logo {
    display: inline-flex;
    align-items: center;
    width: 138px;
    position: relative; 
}

.header_logo > span {
    font-family: "Rammetto One";
    color: #cb3362;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.16px;
}

.header_logo span > span {
    color: #c8c10d;
    font-style: normal;
    letter-spacing: -0.16px;
    line-height: normal;
    /* position: relative; */ 
}

.header_logo > span::after {
    content: "";
    position: absolute;
    top: 35px;
    right: 17px;
    
    width: 21px;
    height: 14px;
    
    background-image: url("../img/logo_name.png");
    background-repeat: no-repeat;
}

.header_menu {
    max-height: 120px;
    margin: auto 0 auto auto;
}

.header_list {
    display: flex;
}

.header_list  > li {
    padding-left: 37px;
    padding-right: 37px; 
}

.header_list li:last-child {
    padding-right: 0;
}

.header_list a {
    display: block;
    box-sizing: border-box;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
    color: #7a6666;
    font-family: "Lato";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    
    transition: 1s scale, color;
}

.header_list a:active,
.header_list a:focus {
    color: #cb3362;
    scale: 1.1;
}

.header_list a:hover {
    color: #c8c10d;
    scale: 1.1;
}
nav > ul {
    position: relative;
}

 nav > ul  ul {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: .5s ease-in;
    display: none;
    top: 35px; 
 }

.header_list > li:hover  ul {
    visibility: visible;
    opacity: 1;
    display: block;
}
/* header end________________________________ */

/* main start________________________________ */
.page-header_bg {
    background-color: #c8c10d;
    height: 81px;
    /* box-sizing: border-box; */
}

.page-header {
    font-family: "Lato";
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    line-height: 81px;
}
/* _______________________________________________ */

.container.map_container {
    height: 250px;
    box-sizing: border-box;
    padding: 40px 110px;
    background-image: url(../img/map_bg.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.map_adress {
    width: 920x;
    height: 170px;
    margin: 0 auto;
    background-color: #ffffff;
    opacity: 0.8;
    position: relative;
}

.adress {
    width: 510px;
    height: 70px;
    padding: 50px 155px 50px 255px;
    /* position: relative; */
}

.adress::before {
    content: "";
    width: 66px;
    height: 105px;
    background-image: url(../img/map_mark.png);
    position: absolute;
    left: 155px;
    bottom: 33px;
}

.adress h2,
.sidebar h2,
.form h2 {
    font-family: "Lato";
    font-size: 24px;
    font-weight: 400;
    color:#cb3362;
    /* line-height: 48px; */
    text-transform: uppercase;
    text-align: left;
}

.adress p,
.sidebar p {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color:#7a6666;
    text-align: left;
}

.container.page_container {
    height: 750px;
    padding: 40px 110px;
    /* пересмотреть */
    box-sizing: border-box; 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.form {
    width: 560px;    
}

.form h2 {
    padding-bottom: 40px;
}

.label {
    visibility: hidden;
    position: absolute;
}

.input {
    font-family: "Lato";
    font-size: 14px;
    color: #7a6666;
    border: 2px solid #b6adb0;
    display: block;
    padding-left: 15px;
    width: 560px;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 8px;
    
}
.input:active,
.input:focus,
.input:hover {
    border-color: #cb3362;
    border-width: 2px;
}

.textarea {
    width: 560px;
    height: 280px;
    font-family: "Lato";
    font-size: 14px;
    color: #7a6666;
    border: 2px solid #b6adb0;
    /* background-color: #f3f3f3; */
    padding: 15px;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 8px;
}

.textarea:focus,
.textarea:hover {
    border: 2px solid #cb3362;
}

.button {
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #7a6666;
    text-transform: uppercase;
    background-color: #ffffff;
    border: 2px solid #c5acb4;
    padding: 12px 50px;
}

.button:focus,
.button:hover {
    border: 2px solid #cb3362;
}

.sidebar {
    width: 280px;
    height: 230px;
    box-sizing: border-box;
    background-color: #efedee;
    padding: 25px 39px 25px 39px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar h2,
.sidebar p {
    text-align: center;
}
/* main end________________________________ */

/* footer start________________________________ */
.footer_bg {
    background-color: #cb3362;
}

.footer {
    margin: 0 auto;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 59px;
    margin-bottom: 35px;
    width: 210px;
}

.contact_link {
    text-decoration: none;
    padding: 0;
}

.copyright {
color: #ffffff;
font-family: "Roboto";
font-size: 12px;
line-height: 15px;
text-align: center;
}

.footer img {
    width: 30px;
    height: 30px;
}
/* footer end ____________________________________*/
